*.tar.gz
/MANIFEST
*.dat
results
test*.sh
build
*~
doc/_build
*.pyc
*.pyo
.project
.ropeproject
.pydevproject
comp_*
/lems/test/hhcell_resaved3.xml
/lems/__init__$py.class
*PyLEMS.egg-info
/dist
*ken.sh
*.whl
